@model Online_Learning_Platform.Models.SubCategory

@{
    ViewData["Title"] = "Details";
}

<h3 style="text-align:center;"> @Model.Name</h3>




<div class="row g-5">
    <div class="col-md-8">

        <article class="blog-post">
            <ul>
                <li>
                    <a style="margin-bottom:15px;" asp-controller="Categories" asp-action="Details" asp-route-id="@Model.CategoryId" class="btn btn-outline-success me-2">Категории</a>
                </li>
            </ul>

            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success me-2">Вернуться на главную</a>
                </li>
            </ul>

            @foreach (var item in Model.Courses)
            {


                <div style="width:100%;text-align:center;padding-bottom:30px;">

                    <div style="/*box-shadow: 2px 2px 10px #246756*/;background:white;">
                        @if (User.Identity.IsAuthenticated)
                        {

                            <a style="margin-bottom:30px" class="btn btn-danger me-2" asp-controller="Courses" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        }
                        <div class="box2">

                            <p style="color:blue;">@Html.DisplayFor(modelItem => item.User.UserName) @item.DateTime.ToString() Просмотры: @Html.DisplayFor(modelItem => item.Count)</p>


                        </div>

                        <a style="text-decoration:none" asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">
                            <h4 style="color:black">@Html.DisplayFor(modelItem => item.Name)</h4>
                            @if (item.Image != null)
                            {
                                <img style='width:90%; height:auto; ' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image))" />
                            }
                            else
                            {
                                <img style='width:90%; height:auto; ' src="https://static.skillshare.com/uploads/discussion/tmp/7ab1b040.png">
                            }
                        </a>
                        <a style="text-decoration:none;" asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">


                            <div class="box">

                                <p class="lead my-3" style="color:black;word-wrap: break-word">@item.Description</p>

                            </div>


                        </a>
                        <div class="box2" style="padding-bottom:10px;">

                            <a class="btn btn-outline-success me-2" asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">Читать далее</a>


                        </div>

                    </div>


                </div>





            }

        </article>



    </div>

    <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="fst-italic">О</h4>
                <p class="mb-0">Learning-Platform это отличный инструмент для тех кто хочет развиваться и учиться чему-то новому. Большой выбор курсов и уроков - все это делает Learning Platform полезным и нтересным для всех , кто хочет улучшить свои знания и навыки.</p>
            </div>

            <div class="p-4">
                <h4 class="fst-italic">Карта сайта</h4>
                <ol class="list-unstyled mb-0">
                    @await Component.InvokeAsync("GetSubCategories")
                </ol>
            </div>

            <div class="p-4">
                <h4 class="fst-italic">Ссылки</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<br></br>
