@model IEnumerable<Online_Learning_Platform.Models.Course>




@foreach (var item in Model)
{



    <div style="width:100%;text-align:center;padding-top:30px;">

        <div style="box-shadow: 2px 2px 10px #246756;background:darkcyan;">

            <a style="text-decoration:none" asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">
                <h3 style="color:white">@Html.DisplayFor(modelItem => item.Name)</h3>
                @if (item.Image != null)
                {
                    <img style='width:100%; height:auto; ' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image))" />
                }
                else
                {
                    <img style='width:100%; height:auto; ' src="https://static.skillshare.com/uploads/discussion/tmp/7ab1b040.png">
                }
            </a>
        </div>
        <div style="box-shadow: 2px 2px 10px #246756;background:darkcyan;">
            <a style="text-decoration:none" asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">
                
              
                <div class="box">

                    <p class="lead my-3" style="color:white">@item.Description</p>
                    <p style="color:white">@Html.DisplayFor(modelItem => item.User.UserName)</p>
                </div>
                
                
            </a>
        </div>
        
    </div>
    
   
}

