@model IEnumerable<Online_Learning_Platform.Models.Category>

@{
    ViewData["Title"] = "Редактировать категории";
}

<h1>Редактировать категории</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Создать категории</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Смотреть</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
@foreach (var item in Model)
{
    <ul>
        <li>
            <a>@Html.DisplayFor(modelItem => item.Name)</a>

            <ul>
            
                @foreach (var a in item.SubCategory.Where((b)=>b.CategoryId==item.Id))
                {
                    <li>
                         @a.Name
                    </li>
                }
            </ul>
        </li>
    </ul>
}
